
.jqTransformSelectWrapper {
	background: url(../images/jstransform/select_left_g.gif) no-repeat top left;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	background: url(../images/jstransform/select_right_g.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	overflow-y: auto;
}
